In [1]:
import pandas as pd
import numpy as np
df1=pd.read_csv("country_wise_latest_covid.csv")
print(df1)

         Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752    6791        152
183      Western Sahara         10       1          8       1          0
184               Yemen       1691     483        833     375         10
185              Zambia       4552     140       2815    1597         71
186            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
..          ...            ...                 ...                    ...
182           2              0                0.73                  35.33
183           0              0               10.00                  80.00
184           4             36               28.56                  49.26
185           1            465                3.08                  61.84
186           2             24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
..                      ...                  ...            ...
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
..                 ...                    ...
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]

In [2]:
max = pd.DataFrame(df1.groupby("Country/Region")['Confirmed']
                               .agg('sum')).sort_values(by='Confirmed',ascending=False,axis=0)

max.head(10)

                Confirmed
Country/Region
US                4290259
Brazil            2442375
India             1480073
Russia             816680
South Africa       452529
Mexico             395489
Peru               389717
Chile              347923
United Kingdom     301708
Iran               293606

In [3]:
#min
min= pd.DataFrame(df1.groupby("Country/Region")['Confirmed'].agg('sum')).sort_values(by='Confirmed',ascending=True,axis=0)

min.head()

                       Confirmed
Country/Region
Western Sahara                10
Holy See                      12
Greenland                     14
Saint Kitts and Nevis         17
Dominica                      18

In [4]:
Country = df1[df1['WHO Region'] == 'Europe']

print(Country.loc[Country['Deaths'].idxmax()]['Country/Region'])
print(Country.loc[Country['Deaths'].idxmax()]['Deaths'])

United Kingdom
45844

In [5]:
Country = df1[df1['WHO Region'] == 'Americas']

print(Country.loc[Country['Deaths'].idxmax()]['Country/Region'])
print(Country.loc[Country['Deaths'].idxmax()]['Deaths'])

US
148011

In [6]:
Country = df1[df1['WHO Region'] == 'Africa']
max = pd.DataFrame(Country.groupby("Country/Region")['Recovered']
                               .agg('sum')).sort_values(by='Recovered',ascending=False,axis=0)

max.head(10)

                Recovered
Country/Region
South Africa       274925
Ghana               29801
Algeria             18837
Nigeria             18203
Cameroon            14539
Cote d'Ivoire       10361
Kenya                7833
Senegal              6477
Ethiopia             6386
Madagascar           6260

In [7]:
print(df1.loc[df1['Recovered'].idxmax()]['Country/Region'])
print(df1.loc[df1['Recovered'].idxmax()]['Recovered'])

Brazil
1846641